<h2 class="text-2xl font-bold tracking-tight text-gray-900">{{this.category}}</h2>

<div *ngFor="let product of this.allItems" class="bg-gray-50 rounded-md mx-auto max-w-2xl px-4 py-2 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
  <a [routerLink]="['/addToCart', product.itemID]" href="#">
  <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
    <div class="group relative">
      <div class="w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none lg:h-80">
        <img src="data:image/jpeg;base64,{{product.Item_Image}}" alt="{{product.Item_Name}}" class="h-full w-full object-cover object-center lg:h-full lg:w-full">
      </div>
      <div class="mt-4 flex flex-col justify-between"> <!-- Changed layout here -->
        <div>
          <h3 class="text-sm text-gray-700">
              <span aria-hidden="true" class="absolute inset-0"></span>
              {{product.Item_Name}}
          </h3>
        </div>
        <p class="text-xl font-medium text-gray-900">{{product.Price | currency:"USD"}}</p>
        <!-- <a [routerLink]="['/add']"  href="#" class="cursor-pointer mt-2 w-full px-4 py-4 bg-indigo-600 text-center text-white text-xs font-semibold rounded hover:bg-indigo-600">
            Add to Cart
        </a> -->
        
      </div>
      <!-- Button moved to fill the width of the flex-col container -->
    </div>
    <!-- More products... -->
  </div>
  </a>
</div>
